.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://unsplash.it/1920/1080");
  background-size: cover;

  h2 {
    margin-top: 1rem;
  }

  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid $text-color;
    width: 100%;
    text-align: center;

    &--last {
      color: $accent-color;
      font-weight: map-get($font-weights, bold);
    }
  }
}
