.nav {
  position: fixed;
  width: 100vw;
  visibility: hidden;
  top: 0;
  opacity: 0.95;

  &.open {
    visibility: visible;
  }
}

.menu-nav {
  display: flex;
  gap: 2rem;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: $primary-color;
  @extend %transition-ease;

  &.open {
    transform: translateY(0);
  }

  &__item {
    list-style: none;
    transform: translateX(100vw);
    @extend %transition-ease;

    &.open {
      transform: translateX(0);
    }

    &.active > a {
      color: $accent-color;
    }
  }

  &__link {
    font-size: 2rem;
    @extend %transition-ease;

    &:hover {
      color: $accent-color;
    }
  }
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease;

  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background-color: $text-color;
    @extend %transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background-color: $text-color;
      @extend %transition-ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background-color: $text-color;
      @extend %transition-ease;
    }

    &.open {
      transform: rotate(720deg);
      background-color: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 4px);
      }

      &::after {
        width: 28px;
        transform: rotate(135deg) translate(-8px, 6px);
      }
    }
  }
}

@for $i from 1 through 4 {
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.2s) + 0.2s;
  }
}
